<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Início</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="text-align: center; font-family: 'Poppins', sans-serif;">
    <h1>Sistema de Usuários</h1>
    <a href="/add" style="border-radius: 20px 24px; background-color: blueviolet; text-decoration: none; color: white; padding: 10px 20px; display: inline-block; margin: 10px 0;">
        Cadastrar novo usuário
    </a> <br>
    <a href="/users" style="border-radius: 20px 24px; background-color: blueviolet; text-decoration: none; color: white; padding: 10px 20px; display: inline-block; margin: 10px 0;">
        Ver todos os usuários
    </a>
    </ul>
</body>
</html>
