<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Usuário</title>
<link rel="shortcut icon" href="https://images.vexels.com/media/users/3/142789/isolated/preview/2bfb04ad814c4995f0c537c68db5cd0b-logotipo-do-circulo-multicolorido.png" type="image/x-icon">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="text-align: center; font-family: Poppins, sans-serif">
    <h1>Cadastro de Usuário</h1>
    <form method="POST">
        <label for="name">Nome:</label>
        <input type="text" name="name" required><br><br>
        <label for="age">Idade:</label>
        <input type="text" name="age" required><br><br>
        <label for="email">Email: </label>
        <input type="text" name="email" required><br><br>
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <a href="/">Voltar ao início</a> | <a href="/users">Ver usuários</a>
</body>
</html>
