<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Usuários Cadastrados</title>
</head>
<body style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
    <h1>Lista de Usuários</h1>
    {% if users %}
        <ul>
            {% for user in users %}
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ID: {{ user[0] }} | Nome: {{ user[1] }} | Idade: {{ user[2] }} | Email: {{user [3]}}  - 
                    <a href="/update/{{ user[0] }}" style="text-decoration: none; border-radius: 30px 34px; background-color: blue; color: white; padding: 5px 20px; display: inline-block; margin: 10px 0;">Editar</a>
                    <a href="/delete_id/{{ user[0] }}" style="text-decoration: none; border-radius: 30px 34px; background-color: red; color: white; padding: 5px 20px; display: inline-block; margin: 10px 0;">Deletar</a>
                </p>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum usuário cadastrado.</p>
    {% endif %}
    <br>
    <form action="/delete_all" method="get">
    <button type="submit" style="border-radius: 20px 24px; background-color: red; text-decoration: none; color: white; padding: 10px 20px; display: inline-block; margin: 10px 0;">
    Deletar todos os usuários
    </button>
    </form>
    <br>
    <a href="/" style="border-radius: 20px 24px; background-color: blueviolet; text-decoration: none; color: white; padding: 10px 20px; display: inline-block; margin: 10px 0;">Voltar ao início</a> | <a href="/add">Cadastrar novo usuário</a>
</body>
</html>
